@using Application.Dtos.Appointment;
@model CreateAppointmentDto
<form method="post" asp-action="Indexx" asp-controller="Appointment">
    <div class="row g-3">
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="text" asp-for="AppointmentNameSurname" class="form-control  border-0 bg-light" />
                <label for="gname">Adınız</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="text" asp-for="AppointmentMail" class="form-control  border-0 bg-light" />
                <label for="gmail">E-posta adresiniz</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                @Html.DropDownListFor(x => x.CourseID, (List<SelectListItem>)ViewBag.v, new { @class = "form-control", @id = "courseDropdown", @name = "CourseType" })
                <label for="cname">Kurs Türü</label>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-floating">
                <input type="text" asp-for="CarType" class="form-control  border-0 bg-light" />
                <label for="cage">Araba tipi</label>
            </div>
        </div>
        <div class="col-12">
            <div class="form-floating">
                <textarea class="form-control border-0 bg-light" placeholder="Leave a message here" asp-for="Message" style="height: 150px"></textarea>
                <label for="message">Mesaj</label>
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary w-100 py-3" type="submit">Gönder</button>
        </div>
    </div>
    
    
</form>






