<div class="container-xxl py-6">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                <h6 class="text-primary text-uppercase mb-2">Neden Bizi Tercih Etmelisiniz!</h6>
                <h1 class="display-6 mb-4">Şehrimizdeki En İyi Sürüş Eğitim Merkezi</h1>
                <p class="mb-5">Sürüş becerilerinizi geliştirmek ve güvenli sürüşü öğrenmek için şehrimizdeki en iyi sürüş eğitim merkezimizde uzman eğitmenlerimizle tanışın. Sizi bekliyoruz!</p>
                <div class="row gy-5 gx-4">
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Tam Lisanslı</h5>
                        </div>
                        <span>Tam Lisanslı Ehliyet Kursu ile Güvenli Sürüşü Öğrenin!</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Online Takip</h5>
                        </div>
                        <span>Online takip ile ehliyet kursunu daha kolay ve etkili yönetin.</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">Uygun Ücret</h5>
                        </div>
                        <span>Uygun fiyatlarla ehliyet kursu için bize katılın, avantajlı teklifleri kaçırmayın!</span>
                    </div>
                    <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                        <div class="d-flex align-items-center mb-3">
                            <div class="flex-shrink-0 btn-square bg-primary me-3">
                                <i class="fa fa-check text-white"></i>
                            </div>
                            <h5 class="mb-0">En İyi Eğitmenler</h5>
                        </div>
                        <span>En iyi eğitmenlerle güvenli sürüşü öğrenin, ehliyet kursu başvurun!</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="position-relative overflow-hidden pe-5 pt-5 h-100" style="min-height: 400px;">
                    <img class="position-absolute w-100 h-100" src="~/drivin-1.0.0/img/about-1.jpg" alt="" style="object-fit: cover;">
                    <img class="position-absolute top-0 end-0 bg-white ps-3 pb-3" src="~/drivin-1.0.0/img/about-2.jpg" alt="" style="width: 200px; height: 200px">
                </div>
            </div>
        </div>
    </div>
</div>
