<div class="container-fluid facts py-5 pt-lg-0">
    <div class="container py-5 pt-lg-0">
        <div class="row gx-0">
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-car text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5>Araç Kullanmayı Öğrenin </h5>
                            <span>Sürüş becerilerinizi geliştirmek için basit, etkili ve güvenli bir öğrenme deneyimi sunuyoruz.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-users text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5>Tecrübeli Eğitmenler</h5>
                            <span>Uzman ekibimizle güvenli ve etkili sürüş tecrübesi yaşayın. Hemen kaydolun!</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                <div class="bg-white shadow d-flex align-items-center h-100 p-4" style="min-height: 150px;">
                    <div class="d-flex">
                        <div class="flex-shrink-0 btn-lg-square bg-primary">
                            <i class="fa fa-file-alt text-white"></i>
                        </div>
                        <div class="ps-4">
                            <h5>Ehliyetinizi Alın</h5>
                            <span>Güvenli sürüş becerilerinizi geliştirin ve ehliyetinizi alın, yolculuğunuz başlasın!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
