
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadPartial")

<body>
    <!-- Spinner Start -->
    @await Component.InvokeAsync("_SpinnerPartial")
    <!-- Spinner End -->
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
        <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
            <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Yıldırım Sürücü Kursu</h2>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/Default/Index" class="nav-item nav-link " >Ana Sayfa</a>
                <a href="/About/Index" class="nav-item nav-link">Hakkında</a>
                <a href="/Course/Index" class="nav-item nav-link">Kursalar</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown">Sayfalar</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="/Feature/Index" class="dropdown-item active">Özellikler</a>
                        <a href="/Appointment/Index" class="dropdown-item">Randevu</a>
                        <a href="/Team/Index" class="dropdown-item" >Çalışanlar</a>
                        <a href="/Testimonial/Index" class="dropdown-item">Referanslar</a>

                    </div>
                </div>
                <a href="/Contact/Index" class="nav-item nav-link">Bize Ulaşın</a>
            </div>
            <a href="/Default/Index" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Ana Sayfa<i class="fa fa-arrow-right ms-3"></i></a>
        </div>
    </nav>

    <!-- Navbar End -->
    <!-- Carousel Start -->
    <!-- Page Header Start -->
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-6 my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">Özellikler</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="#">Ana Sayfa</a></li>
                 
                    <li class="breadcrumb-item text-primary active" aria-current="page">Özellikler</li>
                </ol>
            </nav>
        </div>
    </div>
   

    @await Component.InvokeAsync("_FeaturesPartial")
    <!-- Courses End -->
    <!-- Team Start -->
    <!-- Team End -->
    <!-- Testimonial Start -->
    <!-- Footer Start -->
    @await Component.InvokeAsync("_FooterPartial")
    <!-- Footer End -->
    <!-- Copyright Start -->
    @await Component.InvokeAsync("_CopyrightPartial")
    <!-- Copyright End -->
    <!-- Back to Top -->
    @await Component.InvokeAsync("_ScriptPartial")

</body>
</html>