<nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top p-0">
    <a href="index.html" class="navbar-brand d-flex align-items-center border-end px-4 px-lg-5">
        <h2 class="m-0"><i class="fa fa-car text-primary me-2"></i>Yıldırım Sürücü Kursu</h2>
    </a>
    <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">       
            <div class="navbar-nav ms-auto p-4 p-lg-0">
            <a href="/Default/Index" class="nav-item nav-link  active">Ana Sayfa</a>
                <a href="/About/Index" class="nav-item nav-link">Hakkında</a>
            <a href="/Course/Index" class="nav-item nav-link">Kursalar</a>
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Sayfalar</a>
                    <div class="dropdown-menu bg-light m-0">
                        <a href="/Feature/Index" class="dropdown-item">Özellikler</a>
                        <a href="/Appointment/Index" class="dropdown-item">Randevu</a>
                        <a href="/Team/Index" class="dropdown-item" >Çalışanlar</a>
                        <a href="/Testimonial/Index" class="dropdown-item">Referanslar</a>

                    </div>
                </div>
                <a href="/Contact/Index" class="nav-item nav-link">Bize Ulaşın</a>
            </div>
        <a href="" class="btn btn-primary py-4 px-lg-5 d-none d-lg-block">Ana Sayfa<i class="fa fa-arrow-right ms-3"></i></a>
    </div>
</nav>
