<div class="container-fluid bg-dark text-light footer my-6 mb-0 py-6 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="text-white mb-4">Bize Ulaşın</h4>
                <h2 class="text-primary mb-4"><i class="fa fa-car text-white me-2"></i>Yıldırım Sürücü Kursu</h2>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>Beşiktaş, Türkiye</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Hızlı Bağlantılar</h4>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Hizmetlerimiz</a>
                <a class="btn btn-link" href="">Şartlar ve Koşullar</a>
                <a class="btn btn-link" href="">Destek</a>
                <a class="btn btn-link" href="">Kurslar</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Popüler Bağlantılar</h4>
                <a class="btn btn-link" href="">Çalışanlar</a>
                <a class="btn btn-link" href="">Hakkımızda</a>
                <a class="btn btn-link" href="">Bize Ulaşın</a>
                <a class="btn btn-link" href="">Kurslar</a>
                <a class="btn btn-link" href="">Hizmetler</a>
                <a class="btn btn-link" href="">Şartlar ve Koşullar</a>
            </div>
            <div class="col-lg-3 col-md-6">
              
                <h4 class="text-light mb-4">Dersler</h4>
                <a class="btn btn-link" href="">Yıldırım Sürücü Kursu</a>
                <a class="btn btn-link" href="">Otomatik Ehliyet Dersleri</a>
                <a class="btn btn-link" href="">Manuel Ehliyet Dersleri</a>
                <a class="btn btn-link" href="">İleri Seviye Sürüş Dersleri</a>
                <a class="btn btn-link" href="">Takip Et</a>
                
                <div class="d-flex pt-2">
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-square btn-outline-light me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn btn-square btn-outline-light me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0 ">
                &copy; <a href="#">Yıldırım Ehliyet Kursu</a>, bütün hakları saklıdır.
            </div>

        </div>

    </div>

   
       
         
   

</div>
