




<div class="container-xxl courses my-6 py-6 pb-0">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;">
            <h6 class="text-primary text-uppercase mb-2">Popüler Kurslar</h6>
            <h1 class="display-6 mb-4">Kurslarımız, sizin sürüş yeteneklerinizi geliştirmenizi sağlar.</h1>
        </div>
        <div class="row g-4 justify-content-center">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">14000 TL</div>
                        <h5 class="mb-3">Otomatik Araç Dersleri</h5>
                        <p>Otomatik araç dersleriyle sürüşü kolayca öğrenin. Uzman eğitmenlerimizle güvenli ve konforlu sürüş deneyimi yaşayın ve ehliyetinizi alın.</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Başlangıç Seviyesi</li>
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>14 Saat</li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/drivin-1.0.0/img/courses-1.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">15000 TL</div>
                        <h5 class="mb-3">Manuel Araç Dersleri</h5>
                        <p>Manuel araç dersleriyle sürüşü kolayca öğrenin. Uzman eğitmenlerimizle güvenli, konforlu ve keyifli sürüş deneyimi yaşayın, ehliyetinizi hemen alın. Sizi bekliyoruz!</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Başlangıç Seviyesi</li>
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>14 Saat</li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/drivin-1.0.0/img/courses-2.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="courses-item d-flex flex-column bg-white overflow-hidden h-100">
                    <div class="text-center p-4 pt-0">
                        <div class="d-inline-block bg-primary text-white fs-5 py-1 px-4 mb-4">20000 TL</div>
                        <h5 class="mb-3">İleri Seviye Araç Dersleri</h5>
                        <p>İleri seviye araç dersleriyle sürüş becerilerinizi mükemmelleştirin. Uzman eğitmenlerle güvenli ve etkili sürüşü öğrenin, kendinizi trafikte daha emin hissedin</p>
                        <ol class="breadcrumb justify-content-center mb-0">
                            <li class="breadcrumb-item small"><i class="fa fa-signal text-primary me-2"></i>Uzman Seviyesi</li>
                            <li class="breadcrumb-item small"><i class="fa fa-calendar-alt text-primary me-2"></i>22 Saat</li>
                        </ol>
                    </div>
                    <div class="position-relative mt-auto">
                        <img class="img-fluid" src="~/drivin-1.0.0/img/courses-3.jpg" alt="">
                        <div class="courses-overlay">
                            <a class="btn btn-outline-primary border-2" href="">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
